<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<main class="index">
  <div class="masthead d-flex">
      <div class="container text-center">
        <br><br>
          <p class="h1 mb-5">¿Deseas hacer ejercicio desde la comodidad de tu casa?</p><br><br>
            <p class="h2 mx-auto text-justify mb-5"> Fittrainer es tu gran ayuda, con más de 80 ejercicios
            disponibles, rutinas y dietas personales adaptadas especialmente para
            ti. Podrás entrenar desde tu casa sin necesidad de implementos deportivos.</p>
          <p class="h3 font-weight-light mb-4">¿Qué esperas? Ánimate y comienza ya.</p>
          <a href="/login" class="btn btn-primary">Comienza ya!</a>
      </div>
  </div>
</main>
</body>
</html>
