<body>
  <div class="container p-3">
    {{> saltos-de-tijera }}
    <hr class="my-3">
    {{> crunch-abdominales }}
    <hr class="my-3">
    {{> twist-ruso }}
    <hr class="my-3">
    {{> escalada-de-montaña }}
    <hr class="my-3">
    {{> toque-al-talon }}
    <hr class="my-3">
    {{> elevaciones-de-piernas }}
    <hr class="my-3">
    {{> plank }}
    <hr class="my-3">
    {{> crunch-abdominales }}
    <hr class="my-3">
    {{> twist-ruso }}
    <hr class="my-3">
    {{> escalada-de-montaña }}
    <hr class="my-3">
    {{> toque-al-talon }}
    <hr class="my-3">
    {{> elevaciones-de-piernas }}
    <hr class="my-3">
    {{> plank }}
    <hr class="my-3">
    {{> estiramiento-de-cobra }}
    <hr class="my-3">
    {{> estiramiento-giro-lumbar-izquierdo }}
    <hr class="my-3">
    {{> estiramiento-giro-lumbar-derecho }}
    <hr class="my-3">
  </div>
</body>
<style media="screen">

.img-btn{
  width: 80%;
}
.img{
  width:70%;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
  .row .mx-auto{
    width:100%;
  }
}
</style>
