<body>
  <div class="container p-3">
    {{> elevaciones-de-brazos }}
    <hr class="my-3">
    {{> triceps-banco }}
    <hr class="my-3">
    {{> elevaciones-laterales-brazos }}
    <hr class="my-3">
    {{> circulo-brazos }}
    <hr class="my-3">
    {{> circulos-sentido-inverso }}
    <hr class="my-3">
    {{> flexiones-diamante }}
    <hr class="my-3">
    {{> saltos-de-tijera }}
    <hr class="my-3">
    {{> presion-brazos-pecho }}
    <hr class="my-3">
    {{> plancha-diagonal }}
    <hr class="my-3">
    {{> puñetazos }}
    <hr class="my-3">
    {{> flexiones }}
    <hr class="my-3">
    {{> inchworm }}
    <hr class="my-3">
    {{> flexiones-en-pared }}
    <hr class="my-3">
    {{> estiramiento-triceps }}
    <hr class="my-3">
    {{> estiramiento-tricepsD }}
    <hr class="my-3">
    {{> estiramiento-biceps }}
    <hr class="my-3">
      {{> estiramiento-bicepsD }}
    <hr class="my-3">
  </div>
</body>
<style media="screen">

.img-btn{
  width: 80%;
}
.img{
  width:70%;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
  .row .mx-auto{
    width:100%;
  }
}
</style>
