<body>
  <div class="container p-3">
    {{> saltos-de-tijera }}
    <hr class="my-3">
    {{> elevaciones-de-brazos }}
    <hr class="my-3">
    {{> estiramiento-romboides }}
    <hr class="my-3">
    {{> elevaciones-laterales-brazos }}
    <hr class="my-3">
    {{> flexiones-rodillas-apoyadas }}
    <hr class="my-3">
    {{> tijeras-brazos }}
    <hr class="my-3">
    {{> estiramiento-romboides }}
    <hr class="my-3">
    {{> elevaciones-laterales-brazos }}
    <hr class="my-3">
    {{> flexiones-rodillas-apoyadas }}
    <hr class="my-3">
    {{> postura-gato-vaca }}
    <hr class="my-3">
    {{> extenciones-triceps }}
    <hr class="my-3">
    {{> romboides-acostado }}
    <hr class="my-3">
    {{> extenciones-triceps }}
    <hr class="my-3">
      {{> romboides-acostado }}
    <hr class="my-3">
    {{> postura-niño }}
    <hr class="my-3">
  </div>
</body>
<style media="screen">

.img-btn{
  width: 80%;
}
.img{
  width:70%;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
  .row .mx-auto{
    width:100%;
  }
}
</style>
