<body>
  <div class="container p-3">
    {{> saltos-de-tijera }}
    <hr class="my-3">
    {{> extencion-triceps-atras }}
    <hr class="my-3">
    {{> flexiones-inclinacion-apoyo-brazos }}
    <hr class="my-3">
    {{> estiramiento-romboides }}
    <hr class="my-3">
    {{> triceps-suelo }}
    <hr class="my-3">
    {{> postura-gato-vaca }}
    <hr class="my-3">
    {{> extencion-triceps-atras }}
    <hr class="my-3">
    {{> flexiones-inclinacion-apoyo-brazos }}
    <hr class="my-3">
    {{> bisagra-cadera }}
    <hr class="my-3">
    {{> triceps-suelo }}
    <hr class="my-3">
    {{> burpees-hombro }}
    <hr class="my-3">
    {{> burpees-hombro }}
    <hr class="my-3">
    {{> flexiones-hover }}
    <hr class="my-3">
    {{> superman }}
    <hr class="my-3">
    {{> flexiones-hover }}
    <hr class="my-3">
    {{> superman }}
    <hr class="my-3">
    {{> postura-niño }}
    <hr class="my-3">
  </div>
</body>
<style media="screen">

.img-btn{
  width: 80%;
}
.img{
  width:70%;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
  .row .mx-auto{
    width:100%;
  }
}
</style>
