<body>
  <div class="container p-3">
    {{> burpees }}
    <hr class="my-3">
    {{> sentadillas }}
    <hr class="my-3">
    {{> sentadillas }}
    <hr class="my-3">
    {{> sentadillas }}
    <hr class="my-3">
    {{> zancada-cruzadaI }}
    <hr class="my-3">
    {{> zancada-cruzadaD }}
    <hr class="my-3">
    {{> zancada-cruzadaI }}
    <hr class="my-3">
    {{> zancada-cruzadaD }}
    <hr class="my-3">
    {{> circulos-piernasI }}
    <hr class="my-3">
    {{> circulos-piernasD }}
    <hr class="my-3">
    {{> circulos-piernasI }}
    <hr class="my-3">
    {{> circulos-piernasD }}
    {{> circulos-piernasI }}
    <hr class="my-3">
    {{> circulos-piernasD }}
    <hr class="my-3">
    {{> sentadilla-con-salto }}
    <hr class="my-3">
    {{> sentadilla-con-salto }}
    <hr class="my-3">
    {{> sentadilla-con-salto }}
    <hr class="my-3">
    {{> donkey-kicksI }}
    <hr class="my-3">
    {{> donkey-kicksD }}
    <hr class="my-3">
    {{> donkey-kicksI }}
    <hr class="my-3">
    {{> donkey-kicksD }}
    <hr class="my-3">
    {{> fire-hydrantI }}
    <hr class="my-3">
    {{> fire-hydrantD }}
    <hr class="my-3">
    {{> sentadilla-isometrica }}
    <hr class="my-3">
    {{> estiramiento-cuadricepsI }}
    <hr class="my-3">
    {{> estiramiento-cuadricepsD }}
    <hr class="my-3">
    {{> pataleo-inverso }}
    <hr class="my-3">
    {{> pataleo-inverso }}
    <hr class="my-3">
    {{> elevaciones-pantorrilla }}
    <hr class="my-3">
    {{> elevaciones-pantorrilla }}
    <hr class="my-3">
    {{> elevaciones-pantorrilla }}
    <hr class="my-3">
    {{> estiramiento-pantorrillasI }}
    <hr class="my-3">
    {{> estiramiento-pantorrillasD }}
    <hr class="my-3">
  </div>
</body>
<style media="screen">

.img-btn{
  width: 80%;
}
.img{
  width:70%;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
  .row .mx-auto{
    width:100%;
  }
}
</style>
