<body>
  <div class="container p-3">
    {{> salto-lateral }}
    <hr class="my-3">
    {{> sentadillas }}
    <hr class="my-3">
    {{> sentadillas }}
    <hr class="my-3">
    {{> elevacion-piernasI }}
    <hr class="my-3">
    {{> elevacion-piernasD }}
    <hr class="my-3">
    {{> elevacion-piernasI }}
    <hr class="my-3">
    {{> elevacion-piernasD }}
    <hr class="my-3">
    {{> estocada-hacia-atras }}
    <hr class="my-3">
    {{> estocada-hacia-atras }}
    <hr class="my-3">
    {{> donkey-kicksI }}
    <hr class="my-3">
    {{> donkey-kicksD }}
    <hr class="my-3">
    {{> donkey-kicksI }}
    <hr class="my-3">
    {{> donkey-kicksD }}
    <hr class="my-3">
    {{> estiramiento-cuadricepsI }}
    <hr class="my-3">
    {{> estiramiento-cuadricepsD }}
    <hr class="my-3">
    {{> estiramiento-rodillaI }}
    <hr class="my-3">
    {{> estiramiento-rodillaD }}
    <hr class="my-3">
    {{> elevaciones-pantorrilla }}
    <hr class="my-3">
    {{> elevaciones-pantorrilla }}
    <hr class="my-3">
    {{> correr-sin-moverse }}
    <hr class="my-3">
    {{> estiramiento-pantorrillasI }}
    <hr class="my-3">
    {{> estiramiento-pantorrillasD }}
    <hr class="my-3">
  </div>
</body>
<style media="screen">

.img-btn{
  width: 80%;
}
.img{
  width:70%;
}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
  .row .mx-auto{
    width:100%;
  }
}
</style>
