<body>
  <div class="row mx-auto">
    <div class="col text-center p-3" style="width:33.33%">
      <a class="btn" name="button" data-toggle="modal" data-target="#abdominal-v">
        <span class="navabar-toggler-icon"> <img src="/img/icon/informacion.png" class="img-btn"alt="Menu"> </span>
      </a>
      <div class="modal fade" id="abdominal-v" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Abdominal en V</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-xl-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/c6pnqpVg_58?autoplay=0&fs=1&iv_load_policy=3" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center p-4" style="width:33.33%">
      <p><b>Abdominal en V</b></p>
      <p>X20</p>
    </div>
    <div class="col text-center p-4" style="width:33.33%">
      <a class="btn btn-primary text-white" name="button" data-toggle="modal" data-target="#cronometro-cuatro">
        <span class="navabar-toggler-icon">Iniciar</span>
      </a>
      {{> cronometro-cuatro}}
    </div>
  </div>
</body>
