<body>
  <body>
    <div class="row mx-auto">
      <div class="col text-center p-3" style="width:33.33%">
        <a class="btn" name="button" data-toggle="modal" data-target="#estiramiento-de-lumbar-izquierdo">
          <span class="navabar-toggler-icon"> <img src="/img/icon/informacion.png" class="img-btn"alt="Menu"> </span>
        </a>
        <div class="modal fade" id="estiramiento-de-lumbar-izquierdo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Estiramiento de columna con giro lumbar del lado derecho</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-xl-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4DUaXUtmCNo?autoplay=0&fs=1&iv_load_policy=3" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center p-4" style="width:33.33%">
        <p><b>Estiramiento de columna con giro lumbar del lado derecho</b></p>
        <p>00:30s</p>
      </div>
      <div class="col text-center p-4" style="width:33.33%">
        <a class="btn btn-primary text-white" name="button" data-toggle="modal" data-target="#cronometro-uno">
          <span class="navabar-toggler-icon">Iniciar</span>
        </a>
        {{> cronometro-uno }}
      </div>
    </div>
  </body>

</body>
