<body>
  <p class="h3 text-center">Repetir estos ejericios 3 veces cada uno.</p>
  {{> correr-sin-moverse }}
  <hr class="my-3">
  {{> estiramiento-giro-lumbar-izquierdo }}
  <hr class="my-3">
  {{> estiramiento-giro-lumbar-derecho }}
  <hr class="my-3">
  {{> bisagra-cadera}}
  <hr class="my-3">
  {{> sentadilla-sumo }}
  <hr class="my-3">
  {{> toque-al-talon }}
  <hr class="my-3">
  {{>plank}}
  <hr class="my-3">
  {{> equilibrio }}
  <p class="h3 text-center">Luego se hará este ejercicio durante 30 segundos.</p>
  {{> estiramiento-de-cobra }}
</body>
