<body>
 <div class="container">
   <div class="row">
     <div class="col-xl-6 p-3 text-center">
       <p class="h2 text-center">Rutina para persona baja de peso.</p>
       <br><br>
     {{> rutina-uno}}
     </div>
     <div class="col-xl-6 p-3 text-center">
       <p class="h2 text-center">Dieta para persona baja de peso.</p>
       <br><br>
       <img class="img-responsive" src="/img/delgadez.jpeg" width="80%" alt="">
     </div>
   </div>
 </div>
</body>
