<body>
 <div class="container">
   <div class="row">
     <div class="col-xl-6 p-3 text-center">
       <p class="h2 text-center">Rutina para persona con sobrepeso.</p>
       <br><br>
       {{> rutina-tres}}

     </div>
     <div class="col-xl-6 p-3 text-center">
       <p class="h2 text-center">Dieta para persona con sobrepeso.</p>
       <br><br>
       <embed src="https://fundaciondelcorazon.com/images/stories/file/dieta_sobrepeso.pdf" type="application/pdf" width="100%" height="600px" />
     </div>
   </div>
 </div>
</body>
