<body>
 <div class="container">
   <div class="row">
     <div class="col-xl-6 p-3 text-center">
       <p class="h2 text-center">Rutina para persona con peso saludable.</p>
       <br><br>
       {{> rutina-dos}}

     </div>
     <div class="col-xl-6 p-3 text-center">
       <p class="h2 text-center">Dieta para persona con peso saludable.</p>
       <br><br>
           <img class="img-responsive" src="/img/normal.jpeg" width="70%" alt="">
     </div>
   </div>
 </div>
</body>
