<body>
  <div class="container-xl">
    <div class="col-xl-8 mx-auto">
      <h2 class="font-weight-light text-center m-4">PRINCIPIANTE</h2>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/abdominales-principiante.jpg" alt="Abdominales nivel principiante">
        <div class="card-img-overlay">
          <div class="card-img">
            <h2 class="font-weight-light text-white text-uppercase">Abdominales nivel principiante</h2>
            <a class="card-link stretched-link" href="/rutinas/abdominales-principiante"></a>
          </div>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/pecho-principiante.jpg" alt="Pecho nivel principiante">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Pecho nivel principiante</h2>
          <a class="card-link stretched-link" href="/rutinas/pecho-principiante"></a>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/brazo-principiante.jpg" alt="Brazos nivel principiante">
        <div class="card-img-overlay">
          <div class="card-img">
            <h2 class="font-weight-light text-white text-uppercase">Brazos nivel principiante</h2>
            <a class="card-link stretched-link" href="/rutinas/brazo-principiante"></a>
          </div>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/piernas-principiante.jpg" alt="Piernas nivel principiante">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Piernas nivel principiante</h2>
          <a class="card-link stretched-link" href="/rutinas/piernas-principiante"></a>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/espalda-principiante.jpg" alt="Espalda y Hombros nivel principiante">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Espalda y Hombros nivel principiante</h2>
          <a class="card-link stretched-link" href="/rutinas/espalda-hombros-principiante"></a>
        </div>
      </div>
      <h2 class="font-weight-light text-center m-4">INTERMEDIO</h2>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/abdominales-principiante.jpg" alt="Abdominales nivel intermedio">
        <div class="card-img-overlay">
          <div class="card-img">
            <h2 class="font-weight-light text-white text-uppercase">Abdominales nivel intermedio</h2>
            <a class="card-link stretched-link" href="/rutinas/abdominales-intermedio"></a>
          </div>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/pecho-principiante.jpg" alt="Pecho nivel intermedio">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Pecho nivel intermedio</h2>
          <a class="card-link stretched-link" href="/rutinas/pecho-intermedio"></a>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/brazo-principiante.jpg" alt="Brazos nivel intermedio">
        <div class="card-img-overlay">
          <div class="card-img">
            <h2 class="font-weight-light text-white text-uppercase">Brazos nivel intermedio</h2>
            <a class="card-link stretched-link" href="/rutinas/brazo-intermedio"></a>
          </div>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/piernas-principiante.jpg" alt="Piernas nivel intermedio">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Piernas nivel intermedio</h2>
          <a class="card-link stretched-link" href="/rutinas/piernas-intermedio"></a>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/espalda-principiante.jpg" alt="Espalda y Hombros nivel intermedio">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Espalda y Hombros nivel intermedio</h2>
          <a class="card-link stretched-link" href="/rutinas/espalda-hombros-intermedio"></a>
        </div>
      </div>
      <h2 class="font-weight-light text-center m-4">AVANZADO</h2>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/abdominales-principiante.jpg" alt="Abdominales avanzado">
        <div class="card-img-overlay">
          <div class="card-img">
            <h2 class="font-weight-light text-white text-uppercase">Abdominales nivel avanzado</h2>
            <a class="card-link stretched-link" href="/rutinas/abdominales-avanzado"></a>
          </div>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/pecho-principiante.jpg" alt="Pecho avanzado">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Pecho nivel avanzado</h2>
          <a class="card-link stretched-link" href="/rutinas/pecho-avanzado"></a>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/brazo-principiante.jpg" alt="Brazos nivel avanzado">
        <div class="card-img-overlay">
          <div class="card-img">
            <h2 class="font-weight-light text-white text-uppercase">Brazos nivel avanzado</h2>
            <a class="card-link stretched-link" href="/rutinas/brazo-avanzado"></a>
          </div>
        </div>
      </div>
      <div class="card text-center mx-auto mt-4">
        <img class="card-img-top"src="img/media/piernas-principiante.jpg" alt="Piernas nivel avanzado">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Piernas nivel avanzado</h2>
          <a class="card-link stretched-link" href="/rutinas/piernas-avanzado"></a>
        </div>
      </div>
      <div class="card text-center mx-auto my-4">
        <img class="card-img-top"src="img/media/espalda-principiante.jpg" alt="Espalda y Hombros nivel avanzado">
        <div class="card-img-overlay">
          <h2 class="font-weight-light text-white text-uppercase">Espalda y Hombros  nivel Avanzado</h2>
          <a class="card-link stretched-link" href="/rutinas/espalda-hombros-avanzado"></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<style media="screen">
  @media screen and (max-width:768px){
    .card{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
</style>
