<body>
  <div class="container p-3">
    <div class="row">
      <div class="col-xl-12 mx-auto text-center">
        <div class="alert alert-info" role="alert">
          {{imc user.imc}}
        </div>
          <div class="col-xl-4 mx-auto my-4">
            <img class="card-img-top"src="img/logotipo.jpg" alt="Abdominales nivel principiante">
            <div class="card-img-overlay">
              <div class="card-img">
                <h2 class="font-weight-light text-dark text-uppercase">Paquete Especial 1</h2>
                <a class="card-link stretched-link" href="/rutina-dieta-especial/paquete-especial-uno"></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mx-auto my-4">
            <img class="card-img-top"src="img/logotipo.jpg" alt="Abdominales nivel principiante">
            <div class="card-img-overlay">
              <div class="card-img">
                <h2 class="font-weight-light text-dark text-uppercase">Paquete Especial 2</h2>
                <a class="card-link stretched-link" href="/rutina-dieta-especial/paquete-especial-dos"></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mx-auto my-4">
            <img class="card-img-top"src="img/logotipo.jpg" alt="Abdominales nivel principiante">
            <div class="card-img-overlay">
              <div class="card-img">
                <h2 class="font-weight-light text-dark text-uppercase">Paquete Especial 3</h2>
                <a class="card-link stretched-link" href="/rutina-dieta-especial/paquete-especial-tres"></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mx-auto my-4">
            <img class="card-img-top"src="img/logotipo.jpg" alt="Abdominales nivel principiante">
            <div class="card-img-overlay">
              <div class="card-img">
                <h2 class="font-weight-light text-dark text-uppercase">Paquete Especial 4</h2>
                <a class="card-link stretched-link" href="/rutina-dieta-especial/paquete-especial-cuatro"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
